{% extends './base.html' %}

{% block content %}
    <h1 align="center">{{pagename}}</h1>
    <form method="POST" id="form">
        {% csrf_token %}

        {% include 'module_show.html' %}
        {% include 'module_assigned_to.html' %}
        {% include 'module_task.html' %}
        {% include 'module_newtask.html' %}
        {% include 'module_mark.html' %}
        {% include 'module_pass.html' %}
        {% include 'module_result.html' %}
        
    </form>


    <script> 
        const form = document.getElementById("form")
        //box
        const module_show_box        = document.getElementById("module_show_box")
        const module_assigned_to_box = document.getElementById("module_assigned_to_box")
        const module_task_box        = document.getElementById("module_task_box")
        const module_newtask_box     = document.getElementById("module_newtask_box")
        const module_pass_box        = document.getElementById("module_pass_box")
        const module_result_box      = document.getElementById("module_result_box")
        const module_mark_box        = document.getElementById("module_mark_box")

        var assigned_to_vars         = assigned_to_value.value.split("\n")
        var tasks_vars               = JSON.parse(tasks_value.value).map(task=>task['fields'])

        to_module_show_box()
        
        
        function create_btn_click(){
            if (!name.value) return undefined
            if (name.value.length>20) name.value=name.value.slice(0,20)

            assigned_to_value.value = assigned_to_vars.join('\n')
            tasks_value.value = JSON.stringify(tasks_vars)
            form.submit()
        }//create_btn_click-end


        
        function delete_btn_click(){
            tasks_value.value = "DEL-"
            form.submit()
        }//delete_btn_click-end


        function switch_box(box_name){
            module_show_box.style.display        = "none"
            module_assigned_to_box.style.display = "none"
            module_task_box.style.display        = "none"
            module_newtask_box.style.display     = "none"
            module_pass_box.style.display        = "none"
            module_result_box.style.display      = "none"
            module_mark_box.style.display      = "none"
            
            if (box_name == "module_show_box")
                module_show_box.style.display = "block"
            if (box_name == "module_assigned_to_box") 
                module_assigned_to_box.style.display = "block"
            if (box_name == "module_task_box")
                module_task_box.style.display = "block"
            if (box_name == "module_newtask_box")
                module_newtask_box.style.display = "block"
            if (box_name == "module_pass_box")
                module_pass_box.style.display = "block"
            if (box_name == "module_result_box")
                module_result_box.style.display = "block"
            if (box_name == "module_mark_box")
                module_mark_box.style.display = "block"
        }//switch_box-end
    </script>
{% endblock %}
