<div class="flex flex-col bigbox" id="module_task_box">
    {{ form.tasks.label }}:
    <div class="flex-col component2">
        <div class="flex-wrap flex-sb" id="task_alltasks"></div>
        <button type="button" onclick="to_module_newtask_box()">Создать</button>
    </div>
    
    <div class="flex" style="width: 100%;">
        <div style="margin: auto;">
            <input type="button" onclick="to_module_show_box()" value="Назад">
        </div>
    </div>
</div>



<script>
    
    function to_module_task_box(){
        switch_box('module_task_box')
        
        task_alltasks.textContent = ''
        tasks_vars.forEach(task => {
            var task_btn     = document.createElement("input");
            task_btn.onclick = e=>to_module_newtask_box(task['name'])
            task_btn.style   = "width: 200px;"
            task_btn.type    = "button"
            task_btn.value   = task['name']
            task_alltasks.appendChild(task_btn)
        })
    }

</script>