<div class="flex flex-col bigbox" id="module_show_box">
    <div class="flex-sb component2">
        <div>{{form.author.label}}:{{form.author}}</div>
        <div>{{form.name.label}}:{{form.name}}</div>
    </div>

    <div class="flex-col component2">
        <div class="flex-col">{{form.assigned_to.label}}:{{form.assigned_to}}{{form.assigned_to_value}}</div>
        {% if action == "create" or action == "edit" %}
            <button type="button" onclick="to_module_assigned_to_box()">Редактировать</button>
        {% endif %}
    </div>

    <div class="flex-col component2">
        <div class="flex-col">{{form.tasks.label}}:{{form.tasks}}{{form.tasks_value}}</div>
        {% if action == "create" or action == "edit" %}
            <button type="button" onclick="to_module_task_box()">Редактировать</button>
        {% endif %}
    </div>
    
    <div class="flex-col component2">
        <div>{{form.is_active.label}}:{{form.is_active}}</div>
        <div>{{form.is_public.label}}:{{form.is_public}}</div>
    </div>
    
    {% if action == "edit" %}
    <div class="flex-col component2">
        <input type="button" onclick="to_module_mark_box()" value="смотреть результаты">
    </div>
    {% endif %}

    <div class="flex" style="width: 100%;">
        <div style="margin: auto;">
            {% if action == "create" or action == "edit" %}
            <input type="button" onclick="create_btn_click()" value={{buttonname}}>
            {% endif %}
            {% if action == "edit" %}
            <input type="button" onclick="delete_btn_click()" value="Удалить">
            {% endif %}
            {% if action == "show" %}
            <input type="button" onclick="to_module_pass_box()" value="Пройти">
            {% endif %}
        </div>
    </div>
</div>


<script>
    function to_module_show_box(){
        switch_box("module_show_box")
        assigned_to.value = ""
        assigned_to_vars.forEach(name=>assigned_to.value += name + "\n")
        
        tasks.value = ""
        tasks_vars.forEach(task=>tasks.value += task['name'] + "\n")
    }

    //form elements
    const name        = document.getElementById("name")
    const author      = document.getElementById("author")
    const assigned_to = document.getElementById("assigned_to")
    const tasks       = document.getElementById("tasks")
    const is_public   = document.getElementById("is_public")
    const is_active   = document.getElementById("is_active")
    
    const tasks_value       = document.getElementById("tasks_value")
    const assigned_to_value = document.getElementById("assigned_to_value")

    if ("{{action}}" == "edit" || "{{action}}" == "create"){
        name.disabled = false
        is_public.disabled = false
        is_active.disabled = false
    }
</script>