<div class="flex flex-col bigbox" id="module_pass_box">
    Прохождение модуля {{module.name}}:
    <div class="flex component2">
        Название: <input id="pass_name" disabled>
    </div>

    <div class="flex-col component2">
        Условие: <textarea id="pass_content" style="resize: none; height: 150px;" disabled></textarea>
    </div>
    
    <div class="flex-col flex-sb component2">
        Ответы:<div class="flex-col" id="pass_options"></div>
    </div>

    <div class="flex" style="width: 100%;">
        <div style="margin: auto;">
            <input type="button" onclick="to_module_show_box()" value="Назад">
        </div>
    </div>
</div>


<script>
    var task_list
    var cur_task
    var cur_statistic

    function to_module_pass_box(){
        switch_box("module_pass_box")

        cur_statistic = []
        task_list = Array.from(tasks_vars).sort(()=>-Math.floor(Math.random()*2)).map(x=>({...x}))
        pass_next_btn_click()
    }

    function from_module_pass_box(){
        to_module_result_box()
    }

    function pass_next_btn_click() {
        if (task_list.length==0){
            from_module_pass_box()
            return NaN
        }
        
        cur_task           = task_list.pop()
        pass_name.value    = cur_task["name"]
        pass_content.value = cur_task["content"]
        pass_options.value = cur_task["options"]

        pass_options.textContent = ''
        cur_task["options"].split("\n").sort(()=>-Math.floor(Math.random()*2)).forEach(option => {
            var option_inp = document.createElement("button")
            option_inp.type = "button"
            option_inp.appendChild(document.createTextNode(option))
            option_inp.onclick = ()=>pass_answer_btn_click(option)
            pass_options.appendChild(option_inp)
        })
    }
    function pass_answer_btn_click(text) {
        cur_task["cur_answer"]=cur_task["options"].split("\n").indexOf(text)
        cur_statistic.push(cur_task)

        pass_next_btn_click()
    }
</script>