
div#content{
    background-color: #F0F0F0;
    padding: 10px 20px;
    width: 80%;
}
div#sider{
    background-color: #D0D0D0;
    padding: 5px 5px;
    width: 20%;
}


.component {
    border-radius: 4px;
    border-color: #F0F0F0;
    background-color: #F0F0F0;
    padding: 5px;
    margin: 1px;
}
.component2 {
    border-radius: 4px;
    border-color: #C0C0C0;
    background-color: #C0C0C0;
    padding: 5px;
    margin: 1px;
}


.box {
    border-radius: 4px;
    border-color: #A0A0A0;
    background-color: #A0A0A0;
    padding: 5px;
    margin: 1px;
}
.bigbox {
    margin: auto; 
    width: 550px;
    border-radius: 4px;
    border-color: #A0A0A0;
    background-color: #A0A0A0;
    padding: 5px;
}