body {
    margin: auto;
    width: 80%;
    min-height:100%;
}
html {
    font-family: Arial;
    background-color:#808080;
    height:100%;
}
main {
    width: 100%;
    flex:1 1 0;
}/*big-end*/


button {
    background-color: #F0F0F0;
    border-radius: 4px;
    border-color: #D0D0D0;
    padding: 1px 2px;
}
button.delete {
    background-color: #F00000;
    border-radius: 4px;
    border-color: #D00000;
    padding: 1px 2px;
}


footer, header {
    background-color: #A0A0A0;
    padding: 10px 50px;
}
footer a:any-link, header a:any-link {
    color:#000000
}
footer a:focus, header a:focus{
    color:#300030
}/*footer, header-end*/


a:any-link {
    color:#5000F0
}
a:any-link:focus {
    color:#A000A0
}
a {
    text-decoration: none;
}/*a-end*/



