{% extends '../base.html' %}
{% block content %}

<h1 style="text-align: center;">{{pagename}}</h1>
<form method="post">
    {% csrf_token %}

    <div class="flex flex-col box" style="margin: auto; width: 500px;">
        {% for field in form %}
        <div class="flex component2">
            {{field.label_tag}}
            {{field}}
            {% for error in field.errors %}
            <a style="font-size:14px; color: red">{{error}}</a>
            {% endfor %}
        </div>
        {% endfor %}
<!-- 
        <div class="flex component2">
            <a>Имя пользователя:</a>
            <input type="text" id="inp_username">
        </div>

        <div class="flex component2">
            <a>Пароль:</a>
            <input type="password" id="inp_pass">
        </div>

        <div class="flex component2">
            <a>Повтор пароля:</a>
            <input type="password" id="inp_pass">
        </div>
         -->
        <button type="submit" style="margin: 0% 30%;">Зарегистрироваться</button>

    </div>
</form>

{% endblock %}