<div class="box flex-wrap">
    <a class="component" href="/">Домашняя страница</a>
</div>

<div class="box flex-wrap">
    <a class="component2">Модули:</a>
    <a class="component" href="/tasks/create">Создать Модуль</a>
    <a class="component" href="/tasks/">Найти Модуль</a>
</div>

<div class="box flex-wrap">
    <a class="component2">Группы:</a>
    <a class="component" href="/groups/create">Создать группу</a>
    <!-- <a class="component" href="/groups/">Войти в группу</a> -->
</div>

<div class="box flex-wrap">
    <a class="component2">Аккаунт:</a>
        {% if request.user.is_authenticated %}
        <a class="component" href="/accounts/">{{user}}</a>
        <a class="component" href="/accounts/logout/">Выйти</a>
        {% else %}
        <a class="component" href="/accounts/login/">Войти</a>
        <a class="component" href="/accounts/register/">Регистрация</a>
        {% endif %}
</div>