<div class="box flex-col">
    Ваши Группы:
    {% if not my_groups %}
    <div class="component2">
        У вас нет групп <a href="/groups/create">создать</a>
    </div>
    {% endif %}
    {% for group in my_groups %}
        <div class="flex-col box">
            <a class="component2" href="/groups/{{group.id}}">{{group.name}}</a>
        </div>
    {% endfor %}
</div>

<div class="box flex-col">
    Ваши Модули:
    {% if not my_modules %}
    <div class="component2">
        У вас нет модулей <a href="/tasks/create">создать</a>
    </div>
    {% endif %}
    {% for module in my_modules %}
        <div class="flex-col box">
            <a class="component2" href="/tasks/{{module.id}}">{{module.name}}</a>
            <div class="flex">
                {%if module.is_active%}
                    <a class="component">Активный</a>
                {%endif%} 
                {%if module.is_public%}
                    <a class="component">Публичный</a>
                {%endif%} 
            </div>
        </div>
    {% endfor %}
</div>

<div class="flex-col box">
    Модули по группам:
    {% if not modules_groups %}
        <p class="component2">Вы не состоите ни в одной группе!</p>
    {% endif %}
    {% for group, modules in modules_groups.items %}
    <div class="flex-col box">
        <a class="component2" href="/groups/{{group.id}}">{{group.name}}:</a>
        {% for module in modules %}
            <a class="component" href="/tasks/{{module.id}}">{{module.name}}</a>
        {% endfor %}
    </div>
    {% endfor %}
</div>